<h1>Displaying all articles</h1>

<p><%= link_to "Create new article", new_article_path %></p>

<table>
	<tr>
		<th>Title</th>
		<th>Description</th>
	</tr>
	<% @article.each do |a| %>
	<tr>
		<td><%= a.title %></td>
		<td><%= a.description %></td>
		<td><%= link_to 'Edit', edit_article_path(a) %></td>
		<td><%= link_to 'Show', article_path(a) %></td>
		<td><%= 
		link_to 'Delete', #name of the link
		 article_path(a), #path to destroy with parameter of article we want to delete
		  method: :delete, #implicitly specify the HTML METHOD you want to use
		  data: {confirm: "Are you sure?"}  #ask user for confirmation to delete the article	
		%></td>
	</tr>
<% end %>
</table>


